
.content {
  display: flex;
  gap: 120px;
  border-radius: 10px;
  font-style: bold;
  color: rgb(5, 23, 66);
  padding: 2%;
  margin: 0 10% 0;
}

.paragraph {
  margin-top: 6%;
}

.about_image {
  margin-top: 20px;
  height: 60%;
  width: auto;
}