.container {
  width: 80%;
  padding: 1%;
}

.content {
  background-color: rgb(2, 16, 48);
  border-radius: 10px;
  font-style: bold;
  color: white;
  padding: 2%;
  margin: 5% 10%;
}

.paragraph {
  margin-top: 2%;
}

.about_image {
  height: auto;
  width: 50%;
  max-width: 400px;
  margin: 5% 5%;
}