.container {
  width: 80%;
  padding: 1%;
}

.content {
  background-color: rgb(0, 26, 83);
  border-radius: 10px;
  color: white;
  padding: 2%;
  margin: 10%;
}

.paragraph {
  margin-top: 2%;
}

.about_image {
  height: auto;
  width: 80%;
  max-width: 400px;
  margin: 10% 5%;
}