.car-container {
  padding: 3rem;
  padding-top: 5rem;
  border: none;
  max-width: 80%;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  position: fixed;
  height: auto;
  border-radius: 50%;
  padding: 2%;
  padding-left: 3%;
  margin-top: 13%;
  margin-right: 2%;
  right: 0;
  background-color: white;
  font-size: large;
  color: black;
  display: none;
}

@media (min-width: 640px) {
  .popup {
    display: block;
  }
}

.infotext {
  color: white;
  margin-top: 5%;
  font-size: larger;
  font-style: bold;
}

.carbox {
  width: 40%;
  height: 45vh;
  padding: 4rem;
  margin-left: 15vw;
  margin-bottom: 7%;
  margin-top: 0;
}

.image {
  object-fit: cover;
  top: 10px;
  left: 0;
  width: 100%;
  height: 20%;
  margin-bottom: 1rem;
}

.individual {
  min-width: 90%;
  border-radius: 50px;
  padding: 3%;
  margin: 2% 0 5%;
  border: solid rgb(4, 103, 184) 5px;
  background-color: rgba(255, 255, 255, 0.842);
}


@media (min-width: 640px) {
  .individual {
    min-width: 35%;
  }
}

.interest-button {
  font-size: small;
  float: right;
  position: sticky;
  border-radius: 20px;
  padding: 2%;
  margin: 5%;
  background-color: rgb(4, 29, 49);
  color: white;
}

.carimage {
  width: 80%;
  margin: auto;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: white;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 200px) {
  .navbar-button {
    display: none;
  }
}

.nav-link {
  font-size: large;
  font-weight: bold;
  padding: 1rem;
}

.home-container {
  position: relative;
  margin-top: 20vh;
  background-color: red;
  padding-top: 16rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.filter-tags {
  border: 1px solid #242020;
  border-radius: 15px;
}

.email-input {
  margin: 1%;
  display: flex;
  justify-content: space-between;
}

.email-submit {
  color: white;
  right: 0;
  margin-top: 3vh;
  font-weight: bold;
  background-color: green !important;
  border-radius: 10px;
  padding: 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}