.car-container {
  padding: 5rem;
  border: none;
  max-width: 60%;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("/banner.jpg");
}

.button {
  background-color: red;
}

.carbox {
  width: 40%;
  height: 45vh;
  padding: 4rem;
  margin-left: 15vw;
  margin-bottom: 7%;
  margin-top: 0;
}

.image {
  object-fit: cover;
  top: 10px;
  left: 0;
  width: 100%;
  height: 20%;
  margin-bottom: 1rem;
}

.individual {
  width: 70%;
  border-radius: 50px;
}

.carimage {
  width: 80%;
  margin: auto;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 200px) {
  .navbar-button {
    display: none;
  }

  /* cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent visible block md:hidden outline-none focus:outline-none */
}

.nav-link {
  font-size: large;
  font-weight: bold;
  padding: 1rem;
}

.home-container {
  position: relative;
  margin-top: 20vh;
  background-color: red;
  padding-top: 16rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.filter-tags {
  border: 1px solid #242020;
  border-radius: 15px;
}

.email-container {
  max-width: 90%;
  background-color: white !important;
  padding: 3%;
  margin: auto;
  border-radius: 15px;
  margin-top: 6vh;
  margin-bottom: 15vh;
}

@media (min-width: 640px) {
  .email-container {
    max-width: 50%;
  }
}

.email-input {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.email-submit {
  color: white;
  right: 0;
  margin-top: 3vh;
  font-weight: bold;
  background-color: green !important;
  border-radius: 15px;
  padding: 5px;
}