.container {
  padding: 0 2rem;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: red;
}

.carbox {
  width: 40%;
  height: 45vh;
  padding: 4rem;
  margin-left: 15vw;
  margin-bottom: 7%;
  margin-top: 0;
}

.image {
  object-fit: cover;
  top: 10px;
  left: 0;
  width: 100%;
  height: 20%;
  margin-bottom: 1rem;
}

.individual {
  width: 80%;
}

.carimage {
  width: 50%;
}