/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  color: black;
  padding: 0;
  margin: 0;
  font-family:
    Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
}

/*
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*/